.chat_container
  .chat_container_inner
    .mentori_container
      .mentori_name_container
        h3 MENTORI
      .mentori_icon_container
        | 🐤
    .message_container
      .message_log_container
        - @message_logs.each do |log|
          - if log.bot == 'user'
            .user_send_message_box.message_box
              = log.conversation_contents.last&.text
          - else
            .mentori_send_message_box.message_box
              = log.conversation_contents.last&.text
      .message_sent_container
        .message_sent_form
          = form_with url: speak_path(current_user), remote: false do |f|
            = f.text_field :message
            = f.submit 'おくる'
